<h2>WYSIWYG editor with custom event handlers and configuration</h2>

<p>
	Editors created with the CKEditior 4 Angular component are highly customizable. It is possible to overwrite every configuration setting using the <code>config</code> directive and passing an object containing the configuration to it.
</p>

<p>
	Additionally, the CKEditor 4 WYSIWYG editor component for Angular allows you to bind predefined component events using <a href="https://ckeditor.com/docs/ckeditor4/latest/guide/dev_angular.html#supported-output-properties"><code>@Output</code></a> attributes. The following example shows how to bind several common CKEditor 4 events.
</p>

<ckeditor
	data="<p>This is a CKEditor 4 instance created with Angular.</p>"

	[(config)]="editorConfig"

	(ready)="onReady()"
	(change)="onChange()"
	(focus)="onFocus()"
	(blur)="onBlur()">
</ckeditor>

<section>
	<h3>Events log</h3>
	<small>To check additional details about every event, consult the console in the browser developer tools.</small>
	<div class="events__log">
		<ul>
			<li *ngFor="let event of events">
				{{ event.timestamp }} - {{ event.name }}
			</li>
		</ul>
	</div>
	<button (click)="clearEventsLog()">Clear events log</button>
</section>
