[submodule "repos/ckeditor-dev"]
	path = repos/ckeditor-dev
	url = https://github.com/ckeditor/ckeditor-dev.git
[submodule "repos/ckeditor-plugin-scayt"]
	path = repos/ckeditor-plugin-scayt
	url = https://github.com/WebSpellChecker/ckeditor-plugin-scayt.git
[submodule "repos/ckeditor-plugin-wsc"]
	path = repos/ckeditor-plugin-wsc
	url = https://github.com/WebSpellChecker/ckeditor-plugin-wsc.git
[submodule "repos/ckeditor-presets"]
	path = repos/ckeditor-presets
	url = git@github.com:ckeditor/ckeditor-presets.git
