.binding-editor {
	width: 100%;
	height: 5em;
}

.editor-preview {
	float: right;
	width: 49%;
}

.event-log__events {
	margin: 0;
	padding: 0;
}
.event-log__event {
	list-style: none;
	font-weight: bold;
}

.react-nav__menu {
	margin: 0;
	padding: 0;
	overflow: auto;
}
.react-nav__menu-item {
	list-style: none;
	float: left;
	height: 4em;
	line-height: 4em;
	border: 1px #000 solid;
}
.react-nav__menu-item a {
	display: block;
	height: 100%;
	padding: 0 1em;
}
.react-nav__menu-item a:not([class^="cke"]):hover,
.react-nav__menu-item a:not([class^="cke"]):focus {
	background: #ccc;
	color: white;
}

.react-nav__menu-item a:not([class^="cke"]).active {
	background: #000;
	color: white;
}
