<h2>Integration with forms (<code>ngModel</code>)</h2>

<form (ngSubmit)="onSubmit()" #demoForm="ngForm">
	<h3>User profile form</h3>

	<div>
		<label for="name">Name</label>
		<input [(ngModel)]="model.name" type="text" name="name" id="name">
	</div>

	<div>
		<label for="surname">Surname</label>
		<input [(ngModel)]="model.surname" type="text" name="surname" id="surname">
	</div>

	<label for="description">Description</label>
	<ckeditor
		#editor
		[(ngModel)]="model.description"
		id="description"
		name="description">
	</ckeditor>

	<p *ngIf="description && description.dirty" class="alert">Description is "dirty".</p>
	<p *ngIf="description && description.touched" class="alert">Description has been "touched".</p>

	<p>
		<button type="reset" (click)="reset()">Reset form</button>
	</p>
	<p>
		<button type="submit">Submit this form</button>
	</p>
</form>

<h3>Editor data preview</h3>
<p>
	Note that it's only a prove of concept of using the `ngModel`.
	It allows editing, but the editor strips out unknown tags and autoparagraphs text outside of block
	elements. Editor updates when textarea is blurred.
</p>
<textarea #preview
		  (focus)="isPreviewActive = true; previewModel = model.description"
		  (change)="isPreviewActive = false; model.description = previewModel"
		  [(ngModel)]="previewModel"></textarea>
