<h2>{{( inline ? 'Inline' : 'Divarea' )}} Editor</h2>

<p>
	The basic use of the WYSIWYG editor component is as simple as creating a new <code>&lt;ckeditor&gt;</code> tag. The initial data of the editor can be set with the <code>data</code> property.
</p>

<p>
	The two available editor types are <strong>divarea editor</strong> (an inline editor with a fixed UI) and <strong>inline editor</strong> with a floating UI.
</p>

<p>Use the button below to change the editor type.</p>

<ckeditor
	*ngIf="!inline"
	[(data)]="editorData">
</ckeditor>

<ckeditor
	*ngIf="inline"
	type="inline"
	[(data)]="editorData">
</ckeditor>

<button class="editor-type" (click)="changeEditorType()">Change to {{ inline ? 'Divarea' : 'Inline' }}</button>
