.main__notification.notice {
    position: fixed;
    max-width: 650px;
    border: 1px solid hsl(0, 0%, 89%);
    border-left-color: hsl(38.8, 92.3%, 69.4%);
    border-left-width: 3px;
    box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.18);
    /* override .notice class' margins and paddings */
    padding: 20px 40px 20px 20px;
    margin: 0;
    /* elevate the warning above the editor's toolbars */
    z-index: 99999999;
    animation: fadeIn .3s ease-in-out forwards;
}

.main__notification-body {
    margin-top: 10px;
}

.main__notification-body p {
    margin-bottom: 0.3em;
}

.main__notification-body p:last-child {
    margin-bottom: 0;
}

.main__notification-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    /* reset default button styling */
    background: none;
    border: none;
    box-shadow: none;
    line-height: 1;
    transition: background 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.main__notification-close:hover {
    background: hsl(0, 0%, 93%);
}

.main__notification-close:active:focus {
    outline: none;
}
