<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteRule ^user$ http://docs.cksource.com/CKEditor_3.x/Users_Guide [L,R=301]

    # Redirect to HTTPS
    #
    # For this site it is done on AWS CloudFront level
    # No need to redirect it here
    #
    #RewriteCond %{HTTPS} off [OR]
    #RewriteCond %{HTTP:X-Forwarded-Proto} =http
    # Excludes
    # RewriteCond %{REQUEST_URI} !^/apps
    #RewriteRule ^ https://docs.ckeditor.com%{REQUEST_URI} [L,R=301]
    #RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Set "protossl" to "s" if we were accessed via https://.  This is used later
    # if you enable "www." stripping or enforcement, in order to ensure that
    # you don't bounce between http and https.
    RewriteRule ^ - [E=protossl]
    RewriteCond %{HTTPS} on [OR]
    RewriteCond %{HTTP:X-Forwarded-Proto} =https
    RewriteRule ^ - [E=protossl:s]

    # Redirect from www to non-www with HTTPS in mind
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^ http%{ENV:protossl}://%1%{REQUEST_URI} [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !=/favicon.ico
    RewriteRule ^ index.php [L]
</IfModule>